@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply bg-stone-200 dark:bg-black dark:text-white;
}

.editor-wrapper {
	position: relative;
}

.editor-resize-blob {
	position: absolute;
	z-index: 2;
	top: 50%;
	width: 25px;
	height: 25px;
	cursor: col-resize;
}

.editor-resize-blob::after {
	content: '';
	width: 7px;
	height: 7px;
	background: red;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	@apply bg-neutral-400 dark:bg-white;
}

.editor-group {
	display: grid;
	grid-template: 1fr/1fr;
	min-width: 430px;
	max-width: 960px;
}

textarea {
	z-index: 2;
	border: none;
	background: transparent;
	resize: none;
	-webkit-text-fill-color: transparent;
	overflow: hidden;
	@apply focus:outline-none;
	min-height: 55px;
}

.editor,
textarea {
	padding: 16px;
	margin: 0;
	grid-column: 1/1;
	grid-row: 1/1;
	font-family: JetBrains Mono, monospace;
	font-size: 15px;
	letter-spacing: 0.1px;
	line-height: 23px;
	white-space: pre-wrap;
}

.editor {
	@apply bg-neutral-900/80 dark:text-neutral-100/60 rounded-lg backdrop-blur-md shadow-md;
}

.settings {
	@apply flex flex-row gap-4 items-center fixed bottom-20 bg-neutral-300 dark:bg-neutral-900/70 p-2 z-10 rounded-lg;
}
